<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/output.css" />
</head>
<body>
  <nav class="flex items-center justify-between px-20 py-5 shadow-2xl bg-slate-800">
    <img src="/asset/logo.png" alt="" class="w-12 h-auto" />
    <div class="flex gap-4">
      <a class="text-white" href="/">Home</a>
      <a class="text-white" href="/data">Data</a>
      <a class="text-white" href="/readme">ReadMe</a>
    </div>
  </nav>
</body>
