<%- include("./components/navbar.ejs") %>

<div class="px-20 pt-5">
  <h1 class="mb-5 text-3xl font-semibold">Tambah Data Account</h1>
  <form action="/add-account" method="post">
    <div class="flex flex-col gap-5">
      <div class="flex flex-col gap-2">
        <label for="">Jenis Account : </label>
        <input type="text" placeholder="Masukkan Jenis Account" name="type" class="px-2 py-2 border border-black rounded-md bg-none active:border-none" />
      </div>
      <div class="flex flex-col gap-2">
        <label for="">Email Account : </label>
        <input type="email" placeholder="Masukkan Email Account" name="email" class="px-2 py-2 border border-black rounded-md bg-none active:border-none" />
      </div>
      <div class="flex flex-col gap-2">
        <label for="">Password Account : </label>
        <input type="password" placeholder="Masukkan Password Account" name="password" class="px-2 py-2 border border-black rounded-md bg-none active:border-none" />
      </div>
      <div class="flex justify-end">
        <button class="w-3/12 py-1 text-white transition-all bg-blue-400 rounded-md shadow-lg hover:bg-blue-800">Submit</button>
      </div>
    </div>
  </form>
</div>
