<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="css/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="bg-[url('/assets/bg.png')] bg-cover h-[100vh] w-full overflow-hidden">
      <div class="flex items-center justify-between px-20 pt-10">
        <h1 class="text-2xl text-white">Logo</h1>
        <button class="px-4 py-1 text-xl text-white bg-red-700 rounded-lg shadow-xl">Logout Nih?</button>
      </div>

      <div class="relative flex flex-col items-center justify-center px-20 mt-20">
        <img src="/assets/comment.png" class="w-52 h-auto absolute top-[-50px] left-48" />
        <h1 class="pt-16 text-6xl font-bold leading-none tracking-tight text-center text-white text">
          SELAMAT DATANG KEMBALI 👋 <br />
          <span class="px-1 text-5xl shadow-lg bg-secondary">MAU CEK AKUN</span> YANG MANA <br />
          LAGI SEKARANG?
        </h1>
        <a href="/accounts" class="mt-10 text-2xl text-white">Cek Dashboard</a>
      </div>
    </div>
  </body>
</html>
